article.post#about {
    img {
        // position: relative;
        margin-left: 3em;
        margin-right: 3em;
        height: 25em;
        max-width: 100%;
        float: right;
    }

    p {
        padding-right: 5em;
        margin: 2em;
        padding: 1em
    }

    a {
        text-decoration: underline;
        text-decoration-style: dotted;
    }

    .icons {
        font-size: 2em;
        margin: 1em
    }
}