article#index.post {
    .icons {
        font-size: 4em;
        align-items: center;
    }

    span.fancy {
        color: _palette(babu)
    }


    header {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}