article#index.post {
    .icons {
        font-size: 5em;
        align-items: center;
    }

    h2 {
        font-size: 5em;
    }

    span#fancy {
        color: _palette(babu)
    }

    p {
        font-size: 2.5em;
    }


    header {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}