article#tutorials.post {
    ul {
        display: flex;
        flex-direction: column;
        margin: 1em;


        li {
            list-style-type: circle;
            margin-right: 1em;
            margin: 1em
        }
    }
}