html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 99%;
}

body {
    background-color: _palette(off-white);
    font: font(montserrat);
    margin: 1em 2em;

    ul {
        display: flex;
        margin: 1em;
        padding: 0;
        justify-content: center;

        li {
            list-style-type: none;
            margin-right: 1em;
        }
    }

    a {
        color: inherit;
        text-decoration: none
    }

    a:hover {
        color: _palette(rausch)
    }
}

#root {
    display: flex;
    flex-direction: column;
}