.post {
    background: _palette(white);
    // border: solid .5px _palette(foggy);
    border-radius: 20px;
    padding: 2em;
    font-family: _font(montserrat);
    color: _palette(foggy);

    >header {
        // border-bottom: solid 1px _palette(rausch);
        // padding: 10em;
        position: relative;

    }

}