.post {
    background: _palette(white);
    border: solid .5px _palette(foggy);
    position: relative;
    padding: 1em;
    font-family: _font(montserrat);
    color: _palette(foggy);

    >header {
        border-bottom: solid 1px _palette(rausch);
        position: relative;
    }
}