#header {
    background-color: _palette(white);
    display: flex;
    align-items: center;
    margin-bottom: _size(section-spacing);
    padding-left: 1em;
    padding-right: 1em;
    border: .5px solid _palette(foggy);
    justify-content: center;
    border-radius: 20px;

    .navigation-bar .hamburger {
        cursor: pointer;
        position: absolute;
        right: 3%;
        font-size: 1em;
        color: _palette(foggy);

    }

    div {
        text-decoration: none;
        color: _palette(foggy);
        font-family:
            _font(base);
    }

    div:hover {
        color: _palette(rausch)
    }

    #surname {
        color: _palette(foggy);
        font-family:
            _font(roboto);
        font-weight: bold
    }

    .navigation-bar {
        display: flex;
        align-items: center
    }
}