#main {
    background-color: _palette(off_white);

    .icons {
        list-style-type: none;
    }

    a {
        color: inherit;
        text-decoration-style: dotted;
    }

    a:hover {
        color: _palette(rausch)
    }

    ul {
        margin: auto;
        display: flex;
        justify-content: center;

        padding: 0;

        li {
            list-style-type: none;
            margin-right: .5em;
            margin-left: .5em;
            align-items: center;

        }

    }
}