@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

.prose pre {
  border: none !important;
  box-shadow: none !important;
  background: #f6f8fa !important;   
  border-radius: 3px !important;
  padding: 0.6em !important;
}

.prose code {
  background: none !important;     
}
